<aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p><%= __('sidebar.follow') %>:</p>
        <ul class="social-links">
            <li><a href="mailto:monikambarrera@gmail.com" title="e-mail" ><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/whatbooktoreadnext_/" title="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://no.pinterest.com/whatbooktoreadnext/" title="Pinterest" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="https://whatbooktoreadnext.com/atom.xml" title="feed" target="_blank"><i class="fa fa-feed" aria-hidden="true"></i></a></li>
            <li><a href="https://www.facebook.com/sharer.php?u=https://whatbooktoreadnext.com/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="widgets-container">
        <% if (theme.widgets && !is_post()) { %>
            <% theme.widgets.forEach(function(widget) { %>
                <%- partial('widget/' + widget, {post: page}) %>
            <% }) %>
        <% } %>
        <% if (is_post()) { %>
            <%- partial('widget/recent_posts', {post: page}) %>
        <% } %>

        <%- partial('widget/goodreads_box') %>
    </div>

</aside>
